.macros,
.ingredients,
.instructions {
  font-weight: bold;
}

* {
  font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
  color: brown;
  font-size: 40px;
  font-weight: 500;
  border: 2px solid grey;
  text-align: center;
  margin: 4px;
}

img {
  display: block;
  border: 2px solid grey;
  margin: auto;
  padding: 4px;
}

h3 {
  color: brown;
  font-size: 25px;
  font-weight: 200;
  text-align: center;
}

.linktopgs {
  width: 200px;
  margin: auto;
}

p {
  color: lightcoral;
  font-size: 15px;
  font-weight: 600;
}

.macros {
  color: orange;
  display: block;
  text-align: left;
  margin: auto;
  width: 200px;
}

.ingredients {
  color: orangered;
  display: block;
  text-align: left;
  margin: auto;
  width: 200px;
}

.instructions {
  color: olivedrab;
  width: 700px;
  display: block;
  text-align: left;
  margin: auto;
}
