.macros,
.ingredients,
.instructions {
  font-weight: bold;
}

* {
  font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
  color: brown;
  font-size: 40px;
  font-weight: 500;
}

h3 {
  color: brown;
  font-size: 25px;
  font-weight: 200;
}

p {
  color: lightcoral;
  font-size: 15px;
  font-weight: 600;
}

.macros {
  color: orange;
}

.ingredients {
  color: orangered;
}

.instructions {
  color: olivedrab;
}
